{erl_opts, [no_debug_info]}.
{deps, [{erlmqtt, {git, "https://github.com/yuejw/erlmqtt.git", {branch, "master"}}}
       ]}.

{escript_incl_apps, [mqttbench, erlmqtt]}.
{escript_main_app,  mqttbench}.
{escript_name,      mqttbench}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
